* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common style  */


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 10px 14px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    /* background-color: #367C52; */
    background:transparent;
    border: 1px solid #469165;
}

.common-btn:hover {
    background-color: #367C52;
    border: none;
}

.btn img {
    width: 20px;
    height: auto;
    display: inline-block;
}

/* Main style  */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 12px 0;
}

.link ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.link ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

header .logo-image{
    cursor: pointer;
}

#banner {
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#banner .banner-content {
    width: 85%;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}

.banner-content .banner-btn button {
    display: inline-flex;
    gap: 8px;
    border-radius: 1000px;
    border: none;
    padding: 8px 12px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

.banner-content .banner-btn img {
    padding: 1px;
    border-radius: 10px;
}

.banner-btn button:hover {
    color: #fff;
    background-color: #30B868;
}

.banner-text h1 {
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
    padding-top: 12px;
}

.banner-text h1 span {
    font-size: 72px;
    font-weight: 900;
    color: #30B868;
}

.banner-text p {
    font-size: 18px;
    color: #FFFFFF;
    margin: 20px 0;
    line-height: 24px;
}



.works-btn {
    display: flex;
    gap: 5px;
    background: transparent;
    border: 1px solid #469165;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.works-btn:hover {
    /* background-color: rgba(255, 255, 255, 0.2); */

    background-color: #469165;
    border: none;
}

.banner-button {
    display: flex;
    padding: 60px 0;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

/* section-card */

#section-card {
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}

#section-card .heading h2 {
    font-size: 46px;
    font-weight: 600;
    padding-bottom: 12px;
}

#section-card .heading p {
    font-size: 14px;
    color: #627382;
    padding-bottom: 20px;
}

.card-main .icon img {
    background-color: #F95555;
    color: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 12px;
}

.card-main {
    display: flex;
    gap: 16px;
    padding: 20px;
}

.card-main .card {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    padding: 24px;
    border-radius: 8px;
}

.card-main h4 {
    font-size: 22px;
    padding-bottom: 10px;
}

.card-main p {
    font-size: 14px;
    color: #627382;
}

#section-brain {
    display: flex;
    gap: 40px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#section-brain .brain-image img {
    width: 500px;
    height: 500px;
}

.brain-content {
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.brain-content h3 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #469165;
    padding-bottom: 12px;
}

.brain-content h2 {
    font-size: 48px;
    text-transform: capitalize;
    padding-bottom: 12px;
}

.brain-content p {
    color: #627382;
    font-size: 16px;
    padding-bottom: 20px;
}

.brain-content .list ul {
    list-style: none;
    font-size: 16px;
}
.brain-content .list ul li {
    display: inline-flex;
    gap:6px;
}

#section-think {
    background-color: #F7F6F2;
    width: 85%;
    margin: 0 auto;
    padding: 80px;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 80px;
}

#section-think h2 {
    font-size: 36px;
    font-weight: 600;
}

#section-think p {
    font-size: 16px;
    color: #627382;
    padding: 20px;
}

/* footer design  */

footer {
    background-color: #001931;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    padding: 100px 50px;
}

.social-link {
    font-size: 20px;
}

.social-link .icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;

}

.social-link .icons i {
    background-color: white;
    border-radius: 100%;
    padding: 3px;
    color: black;
    cursor: pointer;
}

.social-link .icons i:hover {
    background-color: #469165;
    color: white;
}
.copyright {
    text-align: center;
    padding: 20px;
    color: #FAFAFA;
    font-size: 16px;
    border-top: 1px solid #e5e7eb;
    width: 85%;
    margin: 0 auto;
}