*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common style  */


.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
}

/* Main style  */


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding-top: 12px;
}

.link ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.link ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}