* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common style  */


.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}

/* Main style  */

header {}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 12px 0;
}

.link ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.link ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

#banner {
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#banner .banner-content {
    width: 85%;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;
}


/* problem  */

.banner-content .banner-btn button {
    border-radius: 1000px;
    border: none;
    padding: 8px 12px;
    text-align: center;
    align-items: center;
}

.banner-content .banner-btn img {
    padding: 1px;
    border-radius: 10px;
}

.banner-text h1 {
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
}

.banner-text h1 span {
    font-size: 72px;
    font-weight: 900;
    color: #30B868;
}

.banner-text p {
    font-size: 18px;
    color: #FFFFFF;
    margin: 20px 0;
    line-height: 24px;
}

.works-btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    cursor: pointer;
}
.banner-button{
    margin-bottom: 40px;
}